<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SaludoServlet</display-name>
    <servlet-name>SaludoServlet</servlet-name>
    <servlet-class>SaludoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaludoServlet</servlet-name>
    <url-pattern>/SaludoServlet</url-pattern>
  </servlet-mapping>
  <display-name>TAREA6ED</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MayorServlet</display-name>
    <servlet-name>MayorServlet</servlet-name>
    <servlet-class>MayorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MayorServlet</servlet-name>
    <url-pattern>/MayorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiaSemanaServlet</display-name>
    <servlet-name>DiaSemanaServlet</servlet-name>
    <servlet-class>DiaSemanaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiaSemanaServlet</servlet-name>
    <url-pattern>/DiaSemanaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SumaAcumulativaServlet</display-name>
    <servlet-name>SumaAcumulativaServlet</servlet-name>
    <servlet-class>SumaAcumulativaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumaAcumulativaServlet</servlet-name>
    <url-pattern>/SumaAcumulativaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TablaMultiplicarServlet</display-name>
    <servlet-name>TablaMultiplicarServlet</servlet-name>
    <servlet-class>TablaMultiplicarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TablaMultiplicarServlet</servlet-name>
    <url-pattern>/TablaMultiplicarServlet</url-pattern>
  </servlet-mapping>
</web-app>